<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>鸠江区沈巷镇水利站 - {% block title %}{% endblock %}</title>
</head>

<body class="bg-background">
    {% include 'common/header.html' %}
    {% block content %}{% endblock %}
    {% include 'common/footer.html' %}
</body>