<header class="bg-white h-16">
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 h-full mx-auto flex flex-row items-center justify-between">
        <div class="flex flex-row">
            <img src="./static/icon/water-logo.svg" alt="logo" />
            <img src="./static/icon/logo-text.svg" alt="logo-text" />
        </div>

        <nav class="flex flex-row gap-4">
            <a class="flex flex-col items-center justify-center text-center" href="#">
                <div class="text-lg">网站首页</div>
                <div class="text-xs text-gray-700">HomePage</div>
            </a>
            <a class="flex flex-col items-center justify-center text-center" href="#">
                <div class="text-lg">泵站介绍</div>
                <div class="text-xs text-gray-700">Introduction</div>
            </a>
            <a class="flex flex-col items-center justify-center text-center" href="#">
                <div class="text-lg">运管记录</div>
                <div class="text-xs text-gray-700">Records</div>
            </a>
            <a class="flex flex-col items-center justify-center text-center" href="#">
                <div class="text-lg">工程管理</div>
                <div class="text-xs text-gray-700">Management</div>
            </a>
        </nav>
    </div>
</header>